@font-face {
  font-family: prstart;
  src: url('../fonts/prstart.ttf');
}
body {
  font-family: prstart;
  font-size: 16px;
  background-color: black;
  margin-top: 30px;
}
#main {
  margin: 0 auto;
  width: 512px;
  color: white;
}
#help {
  border-top: 4px solid white;
  margin-top: 10px;
  padding-top: 7px;
}
#help img {
  vertical-align: middle;
}
#help td {
  padding-left: 1em;
}
